@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'), url(./src/asset/font/Pretendard-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'), url(./src/asset/font/Pretendard-Bold.woff2) format('woff2');
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Pretendard;
  background-color: #000;
  color: #fff;
  line-height: auto;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
}

.container.main {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  z-index: 50;
  padding: 0 12.8rem;
}

.moblie-box {
  display: none;
}

.title {
  font-size: 8vw;
  line-height: 1;
  margin-bottom: 0.8rem;
  font-weight: bold;
}

.container.main .intro_wrap {
  opacity: 1;
  position: relative;
  transform: translate(0, 0);
  transition: 0.6s;
}

.container.main.hidden .intro_wrap {
  opacity: 0;
  transform: translate(-50%, 0);
}

.develop-position {
  font-size: 4vw;
  margin-bottom: 3.2rem;
}

.social-box {
  display: flex;
  gap: 1.6rem;
}

.content-list {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  opacity: 1;
  transition: 0.5s linear;
}

.container.main.hidden .content-list {
  gap: 10rem;
  opacity: 0;
}

.content-control_btn {
  position: relative;
  width: 44rem;
  height: 14rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-weight: 400;
}

.header-wrap {
  margin-bottom: 4.8rem;
}

.content-btn_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
}

.content-description {
  text-align: left;
  font-size: 1.6rem;
  color: #979494;
}

.bottom-line {
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: rgba(255, 255, 255, 0.4);
  bottom: 0;
  overflow: hidden;
}

.bottom-line::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  transform: translateX(-100%);
  transition: 0.2s ease-in-out;
}

.content-control_btn:hover .bottom-line::before {
  transform: translateX(0);
}

.sub_pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: 0.6s;
  padding: 0 12.8rem;
}

.sub_pop.on.open {
  z-index: 100;
  opacity: 1;
  transition-delay: 0.6s;
}

/* .sub_pop.on::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: red;
  z-index: 500;
  transition: 1s;
}

.sub_pop.on::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: red;
  z-index: 500;
  transition: 1s;
}

.sub_pop.on.open::before,
.sub_pop.on.open::after {
  width: 1%;
  transition: 0.5s;
} */

.content-wrapper {
  margin-top: 4.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 6.4rem;
}

.content-header_wrapper {
  font-size: 4.8rem;
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
}

.text-wrap {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.content-box_about {
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  flex: 1;
  margin-top: 6.4rem;
}

.content-box_about figure {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}

div.open {
  z-index: 100000;
}

.about-card {
  width: 80rem;
}

.content-box_about figcaption {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 1.6rem;
}

.profile-img_box {
  width: 20rem;
  aspect-ratio: 1/1;
  border-radius: 1.6rem;
  overflow: hidden;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduction-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

#resume-link {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border: 2px solid #fff;
  padding: 1.6rem 2.4rem;
  font-size: 2rem;
  border-radius: 0.8rem;
}

#resume-link:hover {
  text-decoration: underline;
}

.sub-title {
  margin-bottom: 1.6rem;
  font-size: 1.6rem !important;
}

.skill-list_container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.skill-render_box {
  display: flex;
  gap: 1.6rem;
}

.skill-group-text {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.skill-box {
  width: fit-content;
  min-width: 10rem;
  padding: 1.2rem;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  background-color: #31313c;
}

.skill-box > img {
  width: 4rem;
  aspect-ratio: 1/1;
}

.skill-box > span {
  font-size: 1.6rem;
}

.project-content_container {
  display: flex;
  gap: 6.4rem;
  flex: 1;
}

.project-content_container > div {
  flex: 1;
}

.project-card {
  width: 100%;
  border-radius: 1.6rem;
  background-color: #31313c;
  display: flex;
  flex-direction: column;
  height: 90%;
}

.project-card.personal {
  padding: 3.6rem 3.2rem 3.2rem;
}
.project-card.team {
  padding: 3.2rem 4.8rem;
}

.img-box {
  display: flex;
  justify-content: center;
}

.card-content_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.text-group_box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.text-group_box strong,
.text-group_box p {
  text-align: center;
}

.text-group_box strong {
  font-size: 2.8rem;
}

.text-group_box p {
  font-size: 1.6rem;
}

.point-text_box {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.point-text_box > p {
  text-align: left;
  font-size: 1.6rem;
}

.skills-badge_box {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.skill-badge {
  background: #5383e8;
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  border-radius: 0.8rem;
}

.badge-box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.link-box {
  display: flex;
  justify-content: space-between;
}

.project-link {
  padding: 0.8rem 1.6rem;
  background: #fff;
  border-radius: 0.8rem;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  color: #000;
}

.project-card.team .skills-badge_box {
  display: none;
}

.project-card.team .link-box {
  flex-direction: column;
  gap: 0.4rem;
}

.project-card.team .project-link {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.project-link:hover {
  text-decoration: underline;
}

.project-link_img {
  width: 3.2rem;
  aspect-ratio: 1/1;
}

/* img slider css */
.project-card .img-slider_container {
  height: 25rem;
  display: flex;
  justify-content: center;
}

.project-card.personal .img-slider_container {
  width: 100%;
}

.project-card.personal .img-slider_view {
  max-width: 48.4rem;
}

.project-card.team .img-slider_view {
  max-width: 100%;
}

.img-slider_view {
  width: 100%;
  aspect-ratio: 1.62/1;
  border-radius: 1.6rem;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2);
}

.img-sliders {
  display: flex;
  width: fit-content;
  height: 100%;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1440px) {
  .container.main {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 6.4rem;
  }
  .container.main .intro_wrap {
    width: 100%;
    text-align: left;
  }
  .title {
    font-size: 8vw;
  }
  .develop-position {
    font-size: 4vw;
  }
  .content-list {
    flex-direction: row;
    gap: 1.6rem;
    width: 100%;
  }
  .content-control_btn {
    width: auto;
    flex: 1;
    min-height: 14rem;
    height: auto;
  }
  .content-btn_header {
    flex-direction: column;
    align-items: start;
    gap: 0.4rem;
  }
  .content-btn_header h3 {
    font-size: 2rem;
    order: 2;
  }
  .content-description {
    font-size: 1.4rem;
  }
  .sub_pop {
    overflow: auto;
  }
  .content-wrapper {
    height: fit-content;
  }
  .text-wrap {
    font-size: 3.2rem;
  }
  .project-content_container {
    flex-direction: column;
    gap: 3.2rem;
  }
  .project-content_container > div {
    height: fit-content;
  }
  .card-content_wrap {
    gap: 3.2rem;
  }
  .project-card.team .img-slider_view {
    max-width: 70%;
  }
  .project-card.team .link-box {
    gap: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .container.main {
    padding: 0 1.6rem;
  }
  .content-list {
    display: none;
  }
  .title {
    font-size: 4.8rem;
  }
  .develop-position {
    font-size: 2.8rem;
  }
  .moblie-box {
    display: block;
  }

  .moblie-menu_btn {
    width: 3.2rem;
    aspect-ratio: 1/1;
    position: fixed;
    top: 3.2rem;
    right: 3.2rem;
    color: transparent;
    background-image: url('/src/asset/image/menu.png');
  }

  .moblie-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    background-color: #5383e8;
    z-index: 1000000;
    transition: 0.5s ease-in-out;
    padding: 1.6rem 3.2rem;
    overflow: auto;
  }
  .moblie-menu.open {
    transform: translate(0);
  }
  .exit {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3.2rem;
  }
  .exit-btn {
    width: 3.2rem;
    aspect-ratio: 1/1;
    color: transparent;
    background-image: url('/src/asset/icons/exit.svg');
    background-size: cover;
  }
  .moblie-content_menu {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  .moblie-content_menu .content-btn_header {
    flex-direction: row;
  }
  .content-btn_header span {
    order: 2;
  }
  .moblie-content_menu .content-description {
    color: rgba(255, 255, 255, 0.7);
  }
  .bottom-line::before {
    transform: translateX(0);
  }
}
