@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'), url(./src/asset/font/Pretendard-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'), url(./src/asset/font/Pretendard-Bold.woff2) format('woff2');
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Pretendard;
  background-color: #000;
  color: #fff;
  line-height: auto;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
}

.container.main {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  z-index: 50;
  padding: 0 12.8rem;
}

.container.main.hidden {
  visibility: hidden;
}

.title {
  font-size: 12.8rem;
  line-height: 1;
  margin-bottom: 0.8rem;
  font-weight: bold;
  animation: title-animation 0.5s ease-in-out forwards;
}

@keyframes title-animation {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
}

.develop-position {
  font-size: 6.4rem;
  margin-bottom: 3.2rem;
  animation: position-animation 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
  transform: translateY(-30%);
}

@keyframes position-animation {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.social-box {
  display: flex;
  gap: 1.6rem;
}

.content-list {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.content-control_btn {
  position: relative;
  width: 44rem;
  height: 14rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-weight: 400;
  opacity: 0;
  animation: menu 0.5s ease-in-out forwards;
}

@keyframes menu {
  100% {
    opacity: 1;
  }
}

.content-control_btn:first-child {
  animation-delay: 1s;
}
.content-control_btn:nth-child(2) {
  animation-delay: 1.2s;
}
.content-control_btn:nth-child(3) {
  animation-delay: 1.4s;
}
.content-control_btn:last-child {
  animation-delay: 1.6s;
}

.header-wrap {
  margin-bottom: 4.8rem;
}
.content-btn_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
}

.content-description {
  text-align: left;
  font-size: 1.6rem;
  color: #979494;
}

.bottom-line {
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: rgba(255, 255, 255, 0.4);
  bottom: 0;
  overflow: hidden;
}

.bottom-line::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  transform: translateX(-100%);
  transition: 0.2s ease-in-out;
}

.content-control_btn:hover .bottom-line::before {
  transform: translateX(0);
}

.container.sub {
  opacity: 0;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container.sub.isVisible {
  z-index: 100;
  animation: open-sub 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes open-sub {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content-wrapper {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 6.4rem;
}

.content-header_wrapper {
  font-size: 4.8rem;
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
}

.text-wrap {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.container.sub > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 12.8rem;
  opacity: 0;
  z-index: 50;
}

.container.sub > div.open {
  opacity: 1;
  z-index: 200;
}

.content-box_about {
  display: flex;
  font-size: 2.4rem;
}

.content-box_about figure {
  display: flex;
  gap: 3.2rem;
  margin-bottom: 4.8rem;
}

.content-box_about > div:first-child {
  width: 76rem;
  padding-right: 2.4rem;
  border-right: 2px solid #fff;
  padding-bottom: 3.2rem;
}

.content-box_about > div:nth-child(2) {
  flex: 1;
  padding: 0 3.2rem 3.2rem;
}

.content-box_about > div:nth-child(2) h4 {
  font-size: 3.2rem;
}

.content-box_about figcaption {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.profile-img_box {
  width: 20rem;
  aspect-ratio: 1/1;
  border-radius: 1.6rem;
  overflow: hidden;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduction-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 6.4rem;
}

#resume-link {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border: 2px solid #fff;
  padding: 1.6rem 2.4rem;
  font-size: 2rem;
  border-radius: 0.8rem;
}

#resume-link:hover {
  text-decoration: underline;
}

.sub-title {
  margin-bottom: 1.6rem;
  font-size: 1.6rem !important;
}

.skill-list_container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.skill-render_box {
  display: flex;
  gap: 1.6rem;
}

.skill-group-text {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.skill-box {
  width: 10rem;
  padding: 1.2rem;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  background-color: #31313c;
}

.skill-box > img {
  width: 4rem;
  aspect-ratio: 1/1;
}

.skill-box > span {
  font-size: 1.6rem;
}

.project-content_container {
  display: flex;
  gap: 6.4rem;
}

.project-content_container > div {
  flex: 1;
}

.project-card {
  width: 100%;
  border-radius: 1.6rem;
  background-color: #31313c;
  display: flex;
  flex-direction: column;
  height: 65rem;
}

.project-card.personal {
  padding: 3.6rem 3.2rem 3.2rem;
}
.project-card.team {
  padding: 3.2rem 4.8rem;
}

.img-box {
  display: flex;
  justify-content: center;
}

.img-box > .img {
  width: 50%;
  aspect-ratio: 1.62/1;
  background-color: #d9d9d9;
}

.card-content_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.text-group_box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.text-group_box strong,
.text-group_box p {
  text-align: center;
}

.text-group_box strong {
  font-size: 3.2rem;
}

.text-group_box p {
  font-size: 2rem;
}

.point-text_box {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.point-text_box > p {
  text-align: left;
  font-size: 1.6rem;
}

.skills-badge_box {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.skill-badge {
  background: #5383e8;
  padding: 0.8rem 1.6rem;
  font-size: 2rem;
  border-radius: 0.8rem;
}

.badge-box {
  display: flex;
  gap: 0.8rem;
}

.link-box {
  display: flex;
  justify-content: space-between;
}

.project-link {
  padding: 0.8rem 1.6rem;
  background: #fff;
  border-radius: 0.8rem;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  color: #000;
}

.project-link:hover {
  text-decoration: underline;
}

.project-link_img {
  width: 3.2rem;
  aspect-ratio: 1/1;
}

/* img slider css */

.img-slider_container {
  width: 100%;
  height: 25rem;
}

.img-slider_view {
  margin: auto;
  width: 50%;
  max-width: 36.8rem;
  height: 100%;
  aspect-ratio: 1.62/1;
  border-radius: 1.6rem;
  overflow: hidden;
}

.img-sliders {
  display: flex;
  width: fit-content;
  height: 100%;
}

.img-wrap {
  width: 100%;
}

.slider-img {
  width: 36.8rem;
  height: 100%;
  object-fit: cover;
}
